@{
    ViewData["Title"] = "Home Page";
}
<p >
    <h2 style="text-align:center;">Welcome Orion Pens</h2>

</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>